@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url('../fonts/helveticaneuecyr-bold.otf');
}
@font-face {
    font-family: HelveticaNeueCyr-MediumItalic;
    src: url('../fonts/helveticaneuecyr-mediumitaicl.otf');
}
h1 {
    font-family: HelveticaNeueCyr-Bold;
    font-size: 48pt;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    color : white;
}

.phone{
    font-family: HelveticaNeueCyr-MediumItalic;
    font-size: 20pt;
    color: #4f505a;
}