@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url('../fonts/helveticaneuecyr-bold.otf');
}

@font-face {
    font-family: HelveticaNeueCyr-MediumItalic;
    src: url('../fonts/helveticaneuecyr-mediumitaicl.otf');
}

@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url('../fonts/helveticaneuecyr-medium.otf');
}

@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url('../fonts/helveticaneuecyr-light.otf');
}

@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url('../fonts/helveticaneuecyr-roman.otf');
}

@font-face {
    font-family: HelveticaNeueCyr-LightItalic;
    src: url('../fonts/helveticaneuecyr-lightitalic.otf');
}

@font-face {
    font-family: HelveticaNeueCyr-Black;
    src: url('../fonts/helveticaneuecyr-black.otf');
}

h1 {
    margin: 0px;
    font-family: HelveticaNeueCyr-Bold;
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(182, 102, 16, 0.65);
    color : white;
    text-align: center;
    line-height: 50px;
}

h2.application_h2{
    font-family: HelveticaNeueCyr-Bold;
    text-transform: uppercase;
    color: #e20000;
    font-size: 26px;
    line-height: 20px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 5px;
}

header{
    top: 0px;
    height: 80px;
    background: #f9f9f9;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15) ;
    position: fixed;
    width: 100%;
}

body{
    margin: 0;
}
footer{
    height: 70px;
    background: #121212;
    font-family: HelveticaNeueCyr-Light;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    text-align: center;
}
.copyright{
    vertical-align: middle;
    display: inline-block;
    width: 250px;
}
#block1 {
    max-width: 1920px;
    height: 800px;
    width: 100%;
    background: url("../img/w1-bg.png") no-repeat;
    display: flex;
    margin-top: 80px;
}

#block2 {
    max-width: 1920px;
    height: 600px;
    width: 100%;
    background: #f9f9f9;
    display: flex;
}

#block4 {
    max-width: 1920px;
    height: 653px;
    width: 100%;
    background: #f9f9f9;
    display: flex;
}

#block3 {
    max-width: 1920px;
    height: 500px;
    width: 100%;
    padding-top: 58px;
    background: url("../img/dots.png"), url("../img/w3-bg.png") no-repeat;
    display: flex;
}

#block5 {
    max-width: 1920px;
    height: 890px;
    width: 100%;
    display: flex;
    background: url("../img/w5-bg.png");
}

#block6 {
    max-width: 1920px;
    height: 950px;
    width: 100%;
    display: flex;
    background: #f9f9f9;
}

.phone{
    font-family: HelveticaNeueCyr-Medium;
    font-size: 20px;
    line-height: 20px;
    color: #4f505a;
    display: inline;
    margin-left: 45px;
}

.centeredBlock{
    margin: 0 auto;
    min-width: 960px;
    width: 960px;
}

.tour_btn {
    /*margin-top: 212px;*/
    margin-top: 18px;
    cursor: pointer;
    background: url("../img/btn-small-sprite.png") no-repeat;
    width: 212px;
    height: 59px;
    border: none;
}
.tour_btn:active{
    background: url("../img/btn-small-sprite.png") no-repeat;
    background-position-y: -60px;
    margin-top: 22px;
    height: 52px;
}
.tour_btn:focus{
    outline: none;
}
.tour_block{
    height: 363px;
    width: 235px;
    color: #f9f9f9;
    background: #ffffff;
    display: inline-table;
    margin-right: 2px;
}
.tour_block hr{
    width: 60%;
}
#service_block hr{
    width: 13%;
    color: #434a54;
    margin-top: 10px;
}

.head_tour{
    height: 75px;
    width: 235px;
    background: #434a54;
    font-family: HelveticaNeueCyr-Medium;
    font-size: 20px;
    color:#ffffff;
    line-height: 20px;
    
    text-transform: uppercase;

}

.price_head{
    height: 31px;
    width: 235px;
    background: #e6e9ed;
    font-family: HelveticaNeueCyr-Bold;
    font-size: 30px;
    padding-top: 20px;
    line-height: 14px;
    color: #aab2bd;
}

.usd{
    font-size: 18px;
    line-height: 14px;
    font-family: HelveticaNeueCyr-Bold;
    text-transform: uppercase;
    color: #aab2bd;
}

.block_text{
    font-family: HelveticaNeueCyr-Light;
    font-size: 14px;
    line-height: 34px;
    color: #434a54;
    text-align: center;
}

#firstBlock_centered{
    margin-top: 125px;
}

#centeredHeader{
    margin: 0 auto;
    width: 960px;
}

.align_center{
    text-align: center;
}

.logoBlock{
    display: inline;
}

#tourInfo{
    float : left;
    margin-top: 285px;
}

.tourText{
    font-variant: small-caps;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    font-family: HelveticaNeueCyr-Medium;
    font-size: 24px;
    line-height: 48px;
    color : #fefefe;
    background: rgba(0,0,0,0.85);
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.tourNumbers{
    font-family: HelveticaNeueCyr-Medium;
    font-weight: bold;
    font-size: 24px;
    color : #fefefe;
}

#firstText{
    width: 263px;
    padding-top: 5px;
    background: rgba(230,126,34,0.7);
}

#secondText{
    background: rgba(243,156,18,0.7);
}

#lastText{
    width: 293px;
    padding-bottom: 5px;
    background: rgba(241,196,15,0.7);
}

.application{
    text-align: center;
    float: right;
    height: 375px;
    width: 350px;
    background: white;
    margin-top: 84px;
}

.app_input{
    display: block;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    line-height: 18px;
    color: #8a8a92;
    width: 240px;
    padding-right: 60px;
    height: 50px;
    margin-left: 14.5px;
    margin-top: 18px;
    padding-left: 20px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    background: no-repeat;
    background-image: url("../img/name.png") ;
    background-position-x: 266px;
    background-position-y: 8px;
    cursor: pointer;
}

.app_input.last{
    background-image: url("../img/phone.png") ;
}

.app_input:focus{
    outline-color: #e20000;
}

.app_btn{
    margin-top: 18px;
    cursor: pointer;
    background: url("../img/btn-sprite.png") no-repeat;
    width: 328px;
    height: 62px;
    border: none;
}

.app_btn:focus{
    outline: none;
}

.app_btn:active{
    background: url("../img/btn-sprite.png") no-repeat;
    background-position-y: -63px;
    background-position-x: -4px;
    margin-top: 28px;
    margin-left: 8px;
    height: 52px;
}

.app_about{
    font-family: HelveticaNeueCyr-Light;
    font-size: 16px;
    line-height: 20px;
    color: #656d78;
}

.personalInfo{
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Light;
    font-size: 10px;
    line-height: 12px;
    color: #666666;
    display: block;
}

.secureBox{
    text-align: left !important;
}

.lock{
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}

.left_header_text{
    display: block;
}

#logo{
    float: left;
    margin-top: 5px;
}

.phoneBox{
    float: right;
    margin-top: 30px;
}

#headerText{
    float: left;
    margin-top: 19px;
    margin-left: 10px;
}

.left_header_text{
    line-height: 20px;
    font-size: 18px;
    font-family: HelveticaNeueCyr-Light;
}

.rocks{
    width: 960px;
    margin-top: -88px;
}

#why{
    line-height: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Light;
    color: #434a54;
}

#services{
    line-height: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Bold;
    color: #ffffff;
}

#tours{
    margin-top: 40px;
}

#photo_tourists{
    line-height: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Light;
    color: #434a54;
}

#question{
    line-height: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Light;
    color: #434a54;
}

#clientCallback{
    line-height: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Light;
    color: #434a54;
}

#answers{
    text-transform: uppercase;
    line-height: 20px;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Bold ;
    color: #e20000;
}

#we_r_best{
    text-transform: uppercase;
    line-height: 20px;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Bold ;
    color: #e20000;
}

#callbacks{
    text-transform: uppercase;
    line-height: 20px;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Bold ;
    color: #e20000;
}

#photo_{
    text-transform: uppercase;
    line-height: 20px;
    font-size: 36px;
    font-family: HelveticaNeueCyr-Bold ;
    color: #e20000;
}

#photo_block{
    margin-top: 60px;
}

#we_r_block{
    margin-top: 10px;
}

#answersBlock{
    margin-top: 60px;
}

#callBackBox{
    margin-top: 12px;
}

#we_r_block hr{
    width: 13%;
    color: #434a54;
    margin-top: 10px;
}

#photo_block hr{
    width: 13%;
    color: #434a54;
    margin-top: 10px;
}

#callBackBox hr{
    width: 13%;
    color: #434a54;
    margin-top: 10px;
}

#answersBlock hr{
    width: 13%;
    color: #434a54;
    margin-top: 10px;
}

#block2_reasons{
    height: 376px;
    margin-top: 54px;
    text-align: center;
}

.Line_plane{
    display: inline-block;
    margin-left: 100px;
}

.Line_plane.first{
    margin-left: 0px;
}

.Line_plane.last{
    margin-left: 117px;
}

.plane_text{
    font-size: 16px;
    line-height: 18px;
    font-family: HelveticaNeueCyr-Bold;
    color: #434a54;
}

.second_line{
    margin-top: 25px;

}

.Line_plane{
    width: 170px;
    text-align: center;
}

#photo_slider{
    width: 700px;
    margin: 0 auto;
    height: 446px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
    margin-top: 30px;
   /* background: url("../img/img-tourist.png") 50% 50% no-repeat; */
}

#arrow_left{
  float: left;
  margin-top: 200px;
  margin-left: 45px;
  cursor: pointer;
}

#arrow_right{
  float: right;
  margin-top: -274px;
  margin-right: 45px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}

#sliderBox{
    list-style: none;
}

.slidingImage{
    position: absolute;
    opacity:0;
    margin-left: -45px;
    margin-top: -3px;
}

.slidingImage:first-child{
    opacity:1;
}

.question_,.answer_,.question_Block{
    float: left;
    text-align: left;
}

.question_Block{
    height: 80px;
    background: white;
    width: 960px;
    border : 1px solid #dbdbdb;
    cursor: pointer;
}

.question_{
    font-family: HelveticaNeueCyr-Light;
    font-size: 22px;
    line-height: 36px;
    color: #434a54;
    padding-top: 25px;
    padding-left: 66px;
}

.answer_{
    font-family: HelveticaNeueCyr-Light;
    background: #f9f9f9;
    border : 1px solid #dbdbdb;
    font-size: 16px;
    line-height: 18px;
    width: 828px;
    padding-left: 66px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 66px;
    display: none;
}

#visibleAnswer{
    display: block;
}

#question_answer{
    margin-top: 60px;
}

.arrow{
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    cursor: pointer;
}

.Callback{
    width: 960px;
}

.leftImg{
    float : left;
}

.rightImg{
    float : right;
}

.tourist_info{
    text-align: left;
    padding-top: 30px;
}

.tourist_info.left{
    margin-left: 280px;
}

.Callback hr{
    width: 20%;
    margin-left: 381px;
    margin-top: 30px;
}

.tourist_name{
    font-family: HelveticaNeueCyr-Bold ;
    font-size: 26px;
    line-height: 20px;
    color: #434a54;
}

.city{
    font-family: HelveticaNeueCyr-Light;
    font-size: 14px;
    line-height: 20px;
    color : #aab2db;
}

.age{
    font-family: HelveticaNeueCyr-Roman;
    font-size: 18px;
    line-height: 20px;
    color : #656d78;
}

.about_tour{
    font-family: HelveticaNeueCyr-LightItalic;
    font-size: 18px;
    line-height: 24px;
    color : #434a54;
    margin-top: 15px;
}

.first_text{
    line-height: 32px;
}

.block_text {
    font-family: HelveticaNeueCyr-Light;
    font-size: 14px;
    line-height: 14px;
    color: #434a54;
    text-align: center;
    padding-top: 20px;
}

.head_title{
    display:inline-block;
    vertical-align:middle;
}

.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

.footer_H1{
    text-shadow:  0 1px 0 rgba(0,0,0,0.5);
}

#block7{
    padding-top: 60px;
    height: 627px;
    background: url("../img/dots.png"), url("../img/w7-bg.png") no-repeat;
}

.footerInfo{
    background: rgba(0,0,0,0.25);
    border: 1px solid #010101;
    text-align: center;
    font-family: HelveticaNeueCyr-Medium;
    font-size: 18px;
    line-height: 18px;
    color: white;
    height: 130px;
    width: 560px;
    float : left;
    margin-top: 308px;
}

.black-font{
    font-family: HelveticaNeueCyr-Black;
}

.questions{
    margin-top: 26px;
}

.question_phones{
    margin-top: 22px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: HelveticaNeueCyr-Roman;
}

.question_phone{
    margin-left: 30px;
    margin-right: 30px;
    font-family: HelveticaNeueCyr-Roman;
}

.bold_phone{
    font-family: HelveticaNeueCyr-Bold;
}

.red_strip{
    margin-top: 10px;
    display:inline-block;
    vertical-align:middle;
    font-family: HelveticaNeueCyr-Bold;
    color: white;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    width: 381px;
    background-color: #e20000;
}
