#slider {
    position: relative;
    overflow: hidden;
    margin: 30px auto 0 128px;
    /*border-radius: 4px;*/

    /*margin: 0 auto;*/
    /*height: 446px;*/
    /*margin-top: 30px;*/
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 466px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    margin-left: -4px;
    margin-right: 4px;
    padding: 0;
    width: 701px;
    height: 466px;
    /*background: #ccc;*/
    /*box-shadow: 0px 2px 6px rgba(0,0,0,0.4);*/
    text-align: center;
    line-height: 300px;
}

a.control_prev, a.control_next {
    /*position: absolute;*/
    /*top: 40%;*/
    /*z-index: 999;*/
    /*display: block;*/
    /*padding: 4% 3%;*/
    /*width: auto;*/
    /*height: auto;*/
    /*background: #2a2a2a;*/
    /*color: #fff;*/
    /*text-decoration: none;*/
    /*font-weight: 600;*/
    /*font-size: 18px;*/
    /*opacity: 0.8;*/
    /*cursor: pointer;*/
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    /*border-radius: 0 2px 2px 0;*/

    float: left;
    margin-top: 200px;
    /*margin-left: 45px;*/
    cursor: pointer;
}

a.control_next {
    /*right: -40px;*/
    /*border-radius: 2px 0 0 2px;*/

    float: right;
    margin-top: -292px;
    margin-right: 4px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}